@using System.Security.Claims
@model Forum.Models.ThreadMessage

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ThreadMessage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <input asp-for="UserId" type="hidden" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
            <div class="form-group">
                <label asp-for="ForumThreadId" class="control-label"></label>
                <input asp-for="ForumThreadId" class="form-control" />
                <span asp-validation-for="ForumThreadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
